body{
    width: 100%;
    margin: 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbnail {
    width: 300px;
}

#login-buttons {
    margin: 18px;
    font-size: 14px;
}

.productInfoWrapper {
    min-height: 300px;
    border: 1px black solid;
}

.coinInfoWrapper {
    height: 100px;
    border: 1px black solid;
}

.sendWrapper {
    margin-top: 80px;
}

a:hover {
    cursor: pointer;
}

.template-dropdown {
    max-height: 200px;
    overflow: scroll;
}

.bring-one-line {
    display: inline-block;
}

.input-spacing-y {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-spacing-x {
    margin-left: 1rem;
    margin-right: 1rem;
}

.removeField {
    color: darkred;
}

.searchBox {
    margin: 20px;
}

.home-text {
    padding-left: 0px;
}
